# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# IDE
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Vite
.vite/

# Local Files
logo/